{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title 'Einloggen' %}

{% block content %}

<h2>EINLOGGEN</h2>

{% if app.request.session.hasFlash('password_recovered') %}
    <p class="flash">Das neue Passwort wurde übernommen.</p>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="email">E-Mail:</label>
    <input type="text" id="email" name="_username" value="" />

    <label for="password">Passwort:</label>
    <input type="password" id="password" name="_password" />

    <label for="remember_me">Eingeloggt bleiben?</label>
    <input type="checkbox" id="remember_me" name="_remember_me" checked />

    <button type="submit">Einloggen</button>
</form>

<p>Falls du dein Passwort vergessen hast, kannst du es <a href="{{ url('recover_password') }}">wiederherstellen</a>.</p>

{% endblock %}
