{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title "Profil" %}

{% block content %}
    <h2>Dein Profil, {{ user.name }}</h2>
    Bisher gibt es noch keine Einstellungen!
{% endblock %}