{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title "Passwort wiederherstellen" %}

{% block content %}
    <h2>Passwort wiederherstellen</h2>
    {% if state == "email" %}
        {% if app.request.session.getFlash('password_recovery') == 'ok' %}
            <p class="flash">Der Widerherstellungslink wurde an deine E-Mail Adresse gesendet.</p>
        {% endif %}

        {% if app.request.session.getFlash('password_recovery') == 'error' %}
            <p class="badflash">Ein Benutzer mit dieser Adresse existiert nicht.</p>
        {% endif %}

        <p>Gibt hier deine E-Mail Adresse ein, um dein Passwort wiederherzustellen. Du erhälst dann einen zeitlich begrenzten Link, unter dem du ein neues Passwort einstellen kannst.</p>

        <form action="" method="post">
            {{ form_widget(form) }}
            <button type="submit">Link anfordern</button>
        </form>
    {% else %}
        <p>Hier kannst du ein neues Passwort einstellen.</p>

        <form action="" method="post">
            {{ form_widget(form) }}
            <button type="submit">Passwort ändern</button>
        </form>
    {% endif %}

{% endblock %}