{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title "OK" %}

{% block content %}
    <h2>Registrierung abgeschlossen!</h2>
    <p>Du kannst dich nun mit deiner E-Mail Adresse und deinem Passwort einloggen.</p>
{% endblock %}
