{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title user.name %}

{% block content %}

    <h1>{{ user.name }}</h1>

    <div class="p">
        {% if user.image is defined and user.image and user.image.id %}
            <img class="avatar" src="{{ asset('uploads/' ~ user.image.thumbname) }}" alt="" />
        {% endif %}
        {{ user.info|format_content|raw }}
        <span style="clear:both;width:100%;display:block;"></span>
    </div>
{% endblock %}