templates:
    index: a
    list: b
    edit: c
objects:
    image:
        label: Image
        description: Bilder verwalten
        entity: Mdkyb\WebsiteBundle\Entity\Image
        identifier: id
        save_handler: processImage
        fields:
            title:
                label: Titel
            file:
                label: Datei
                list: false
            gallery:
                label: Gallerie
    gallery:
        label: Gallerien
        description: Verwaltung der Gallerien
        entity: Mdkyb\WebsiteBundle\Entity\Gallery
        identifier: id
        fields:
            title:
                label: Titel
    blog:
        label: Blog
        description: Blog Einträge verwalten
        entity: Mdkyb\WebsiteBundle\Entity\BlogPost
        identifier: id
        ordering:
            field: publishedAt
            direction: asc
        fields:
            title:
                label: Titel
            content:
                label: Inhalt
                list: false
                type: textarea
            publishedAt:
                label: Veröffentlicht
                format: date
            createdAt:
                label: Erstellt
                format: date
                edit: false
    download:
        label: Download
        description: Downloads verwalten
        entity: Mdkyb\WebsiteBundle\Entity\Download
        identifier: id
        save_handler: processDownload
        fields:
            title:
                label: Titel
            description:
                label: Beschreibung
            type:
                label: Typ
            file:
                label: Datei
                list: false
            type:
                label: Typ
                type: choice
                options:
                    choices:
                        protocol: Protokoll
                        misc: Sonstiges
    member:
        label: Mitglieder
        description: Verwaltung der Mitglieder
        entity: Mdkyb\WebsiteBundle\Entity\Member
        identifier: email
        fields:
            name:
                label: Name
            email:
                label: E-Mail
            roles:
                label: Rollen
                format: list
                type: choice
                options:
                    choices:
                        ROLE_ADMIN: Administrationsbereich
                        ROLE_MEMBER_ADMIN: Nutzerverwaltung
                        ROLE_BLOG_ADMIN: Blogverwaltung
                        ROLE_JOB_ADMIN: Jobangebotverwaltung
                    multiple: true
    job:
        label: Jobs
        description: Verwaltung der Jobangebote
        entity: Mdkyb\WebsiteBundle\Entity\Job
        identifier: id
        fields:
            title:
                label: Titel
            description:
                label: Beschreibung
            type:
                label: Typ
                type: choice
                options:
                    choices:
                        job: Jobangebot
                        training: Praktikum
            expiresAt:
                label: Verfällt
                format: date
    static:
        label: Seiten
        description: Statische Seiten bearbeiten
        entity: Mdkyb\WebsiteBundle\Entity\StaticContent
        identifier: id
        fields:
            id:
                label: ID
            title:
                label: Titel
            content:
                label: Inhalt
                list: false
                type: textarea
