/web/bundles/JMS
/web/bundles/Sensio
/web/bundles/Symfony
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/deploy
/changeset
/uploads/*
/web/uploads/*
/web/forum/*
/web/wiki/*
web/bundles/*