{% extends "MdkybWebsiteBundle::layout.html.twig" %}

{% block title "Verein" %}

{% block content %}
    <h1>VEREIN</h1>
    <ul>
        <li>
            <a href="{{ url('board') }}">VORSTAND</a>
        </li>
        <li>
            <a href="{{ url('statute') }}">SATZUNG</a>
        </li>
    </ul>
{% endblock %}