{% extends "MdkybWebsiteBundle::layout.html.twig" %}

{% block title "Impressum" %}

{% block content %}

    <h1>IMPRESSUM</h1>

    <h2>Angaben gemäß § 5 TMG:</h2>

    <p>Magdeburger Kybernetiker e.V.<br />
    Lehrstuhl für Systemverfahrenstechnik<br />
    Universitätsplatz 2<br />
    30106 Magdeburg<br />
    Sitz des Vereins: Magdeburg</p>

    <h2>Vertretungsberechtigung:</h2>

    <p>Jeweils zwei Vorstandsmitglieder vertreten den Verein gemeinschaftlich.</p>

    <h2>Kontakt:</h2>

    <p>E-Mail: 
<a href="http://www.google.com/recaptcha/mailhide/d?k=01y_qJGh-qbhilNa4tHZeraw==&amp;c=CXHsSV0Xl6eNjKNgY8FPn060ICEc3RVARNNofuKMDP4=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501y_qJGh-qbhilNa4tHZeraw\75\75\46c\75CXHsSV0Xl6eNjKNgY8FPn060ICEc3RVARNNofuKMDP4\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">hoer...@googlemail.com</a>
    </p>

    <h2>Registereintrag:</h2>

    <p>Eintragung im Vereinsregister. <br />
    Registergericht: Amtsgericht Stendal <br />
    Registernummer: VR 2720</p>
{% endblock %}
