{% extends "MdkybWebsiteBundle::layout.html.twig" %}

{% block title "Satzung" %}

{% block content %}

    <h1>VEREINSSATZUNG</h1>

    <h2>§1 Name, Sitz, Geschäftsjahr</h2>

    <ol type="I">
        <li>Der Verein führt den Namen "Magdeburger Kybernetiker e.V." (nachfolgend Verein genannt) und hat seinen Sitz in Magdeburg.</li>
        <li>Der Verein wird in das Vereinsregister eingetragen.</li>
        <li>Das Geschäftsjahr ist das Kalenderjahr.</li>
    </ol>

    <h2>§2 Zweck, Aufgaben und Grundsätze</h2>

    <ol type="I">
        <li>Der Zweck des Vereins ist die Förderung der Bildung einschließlich der Studentenhilfe durch die personelle, materielle sowie finanzielle Förderung des Studienganges Systemtechnik und Technische Kybernetik der Otto-von-Guericke-Universität Magdeburg und dessen Studierenden und Absolventen.</li>
        <li>Der Verein wird die besonderen Ausbildungsinhalte des Studienganges Systemtechnik und Technische Kybernetik der Otto-von-Guericke-Universität Magdeburg in der Öffentlichkeit und insbesondere bei den für die Universitätsnachfolgezeit relevanten Einrichtungen bekannt machen.</li>
        <li>Er unterstützt personell, materiell und finanziell profilbestimmende Maßnahmen der den Studiengang Systemtechnik und Technische Kybernetik betreuenden Universitätsinstitute. Dies geschieht insbesondere durch die Organisation und Durchführung von Exkursionen  und die Förderung von geeigneten Studierenden durch Stipendien und Preise für herausragende Abschlussarbeiten.</li>
        <li>Der Verein fördert des Weiteren den Kontakt zwischen den Studenten des Studienganges Systemtechnik und Technische Kybernetik und den Mitgliedern des Vereins. Dieser Kontakt bezieht sich vor allem auf Informationsveranstaltungen zu den Themen Studium, Praktikum, Auslandssemester und Studien- bzw. Diplomarbeiten, in welchen die Mitglieder Ihre persönlichen Erfahrungen an die Studierenden weitergeben. Der Verein fungiert dabei in erster Linie als Ansprechpartner der beteiligten Universitätsinstitute.</li>
        <li>Die Mitglieder des Vereins sind ehrenamtlich tätig. Sie erhalten keine Zuwendungen aus Mitteln des Vereins. Ausnahmeregelungen zur Entschädigung für besondere Aufwendungen beschließt der Vorstand.</li>
        <li>Der Verein kann sich zur Erfüllung seiner Aufgaben auch der Hilfe Dritter
    bedienen.</li>
        <li>Der Verein ist parteipolitisch, konfessionell sowie ethnisch neutral.</li>
    </ol>

    <h2>§3 Gemeinnützigkeit</h2>

    <ol type="I">
        <li>Der Verein verfolgt nach §2 ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnittes "Steuerbegünstigte Zwecke" der Abgabenordnung (§§ 51 ff. AO).</li>
        <li>Der Verein ist selbstlos tätig; er verfolgt keine eigenwirtschaftlichen Ziele.</li>
        <li>Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke verwendet werden. Es darf keine Person durch Zuwendungen, die den Zwecken des Vereins fremd sind, oder durch unverhältnismäßig hohe Vergütungen begünstigt werden. Die Mitglieder erhalten keine Zuwendungen aus Mitteln des Vereins.</li>
    </ol>

    <h2>§4 Mitgliedschaft</h2>

    <ol type="I">
        <li>Der Verein besteht aus den ordentlichen Mitgliedern, fördernden Mitgliedern und Ehrenmitgliedern.</li>
        <li>Dem Verein können als ordentliche Mitglieder beitreten:
            <ul type="square">
                <li>Absolventinnen und Absolventen des Studienganges Systemtechnik und Technische Kybernetik</li>
                <li>Studierende des Studienganges Systemtechnik und Technische Kybernetik</li>
                <li>Im Studiengang Systemtechnik und Technische Kybernetik aktive und ehemalige, lehrende und forschende Personen.</li>
            </ul>
        </li>
        <li>Als fördernde Mitglieder können auch andere natürliche und juristische Personen, die die Aufgaben des Vereins ideell und materiell unterstützen, aufgenommen werden.</li>
        <li>Voraussetzung für den Erwerb der ordentlichen oder fördernden Mitgliedschaft ist ein schriftlicher Aufnahmeantrag, der an den Vorstand gerichtet werden muss. Mit der Aufnahme in den Verein erkennt das Mitglied diese Satzung an.</li>
        <li>Der Vorstand entscheidet über den Aufnahmeantrag. Der Antragsteller erhält einen schriftlichen Bescheid über seine Aufnahme als Mitglied oder gegebenenfalls über die Ablehnung seines Antrags.</li>
        <li>Gegen die Entscheidung des Vorstandes kann die antragstellende Person oder ein Mitglied des Vereins einmalig Einspruch erheben. Über einen Einspruch entscheidet die Mitgliederversammlung mit einfacher Mehrheit. Der Beschluss der Mitgliederversammlung ist endgültig.</li>
        <li>Zu Ehrenmitgliedern können auf Vorschlag des Vorstandes, des Beirates oder der Mitgliederversammlung durch Beschluss der Mitgliederversammlung einzelne Personen ernannt werden, die sich um die Belange des Vereins in besonderer Weise verdient gemacht haben. Ehrenmitglieder brauchen keinen Beitrag zu entrichten und sind im Besitz der Rechte der Mitglieder.</li>
    </ol>   

    <h2>§5 Beendigung der Mitgliedschaft</h2>

    <ol type="I">
        <li>Der Austritt aus dem Verein ist jeweils zum Ende des Geschäftsjahres möglich. Der Austritt ist spätestens vier Wochen vor Jahresende dem Vorstand schriftlich anzuzeigen. Die Mitgliedschaft endet außerdem durch Tod, Streichung von der Mitgliederliste oder durch Ausschluss aus dem Verein. Bei juristischen Personen erlischt die Mitgliedschaft bei deren Löschung aus den entsprechenden amtlichen Registern.</li>
        <li>Ein Mitglied kann von der Mitgliederliste gestrichen werden, wenn es trotz zweimaliger schriftlicher Aufforderung seinen Zahlungsverpflichtungen nicht nachkommt. Die Streichung wird vom Vorstand beschlossen und dem Mitglied schriftlich mitgeteilt.</li>
        <li>Ein Mitglied kann ausgeschlossen werden, wenn es in grober Weise schuldhaft gegen die Interessen des Vereins verstößt. Dazu zählen Verstöße gegen die Satzung oder Verhaltensweisen, die dem Ansehen des Vereines schaden. Insbesondere der Missbrauch vereinsinterner Daten führt über die strafrechtliche Verfolgung hinaus zum Ausschluss. Der Ausschluss muss schriftlich unter Angaben von Gründen von einem Mitglied beantragt und vom Vorstand beschlossen werden.</li>
        <li>Ein ausgeschlossenes Mitglied kann schriftlich gegen die Entscheidung des Vorstandes Einspruch erheben, über den die Mitgliederversammlung dann mit einfacher Mehrheit der abgegebenen gültigen Stimmen endgültig entscheidet.</li>
        <li>Der Ausschluss erfolgt mit dem Datum der Beschlussfassung durch den Vorstand; bei einem Einspruch mit dem Datum der Beschlussfassung durch die Mitgliederversammlung.</li>
        <li>Mit der Beendigung der Mitgliedschaft erlischt jeglicher Anspruch an den Verein. Entrichtete Beiträge werden nicht zurückerstattet.</li>
    </ol>

    <h2>§6 Mitgliedsbeiträge</h2>

    <ol type="I">
        <li>Die Höhe der Mitgliedsbeiträge der ordentlichen Mitglieder beträgt 20,- Euro jährlich. Die Beitragshöhe kann alle zwei Jahre auf Vorschlag des Vorstands durch Beschluss der Mitgliederversammlung geändert werden.</li>
        <li>Studierende und ehemalige Studierende, die dem Verein als Mitglieder beitreten, entrichten während Ihres Studiums und im ersten Jahr nach dem Studienabschluss 5,- Euro jährlich. Nach Ablauf dieser Zeit wird der Beitrag automatisch auf die Höhe der ordentlichen Mitgliedsbeiträge angehoben. Promotionsstudenten zahlen den Beitrag eines ordentlichen Mitgliedes.</li>
        <li>Zur Erfüllung seiner Aufgaben ist der Verein neben den Spenden wesentlich auf die Beitragszahlung seiner Mitglieder angewiesen. Der Jahresbeitrag ist daher für jedes Geschäftsjahr spätestens bis zum 01.04. einzubezahlen.</li>
        <li>Zur Finanzierung besonderer Vorhaben oder zur Beseitigung finanzieller Schwierigkeiten des Vereins können Umlagen erhoben werden. Über Höhe und Fälligkeit der Umlagen entscheidet die Mitgliederversammlung auf Vorschlag des Vorstandes. Beantragt ein Mitglied wegen der Erhebung einer Umlage seinen Austritt aus dem Verein, ist es nicht zur Zahlung der Umlage verpflichtet.</li>
        <li>Über die Mindesthöhe der Jahresbeiträge der fördernden Mitglieder entscheidet der Vorstand.</li>
        <li>Ehrenmitglieder sind von der Pflicht zur Zahlung von Beiträgen und Umlagen befreit.</li>
    </ol>

    <h2>§7 Organe des Vereins</h2>

    Organe des Vereins sind:   
    <ul type="square">
    <li>Die Mitgliederversammlung (<strong>§8</strong>)</li>
    <li>Der Beirat (<strong>§9</strong>)</li>
    <li>Der Vorstand (<strong>§10</strong>)</li>
    </ul>

    <h2>§8 Die Mitgliederversammlung</h2>

    Die Mitgliederversammlung, als das oberste beschlussfassende Vereinsorgan, ist grundsätzlich für alle Aufgaben zuständig, sofern bestimmte Aufgaben gemäß dieser Satzung nicht einem anderen Vereinsorgan übertragen wurden.

    <ol type="I">
        <li>Die ordentliche Mitgliederversammlung findet einmal jährlich statt. Der Vorstand lädt mindestens vier Wochen vor der Versammlung alle Mitglieder schriftlich oder per elektronischer Post (E-Mail) mit Angabe der Tagesordnung ein.</li>
        <li>Die Mitgliederversammlung nimmt die Berichte der Vereinsorgane entgegen, entlastet diese und wählt die Mitglieder des Beirates und des Vorstandes.</li>
        <li>Die Mitgliederversammlung berät über die Aktivitäten des Vereins.</li>
        <li>
    Zu den besonderen Aufgaben der Mitgliederversammlung zählen:   
            <ul type="square">
                <li>die Verleihung der Ehrenmitgliedschaften</li>
                <li>die Neufestsetzung der ordentlichen Mitgliedsbeiträge alle zwei Jahre sowie die Genehmigung von Umlagen</li>
                <li>die Beschlussfassung über Satzungsänderungen</li>
                <li>die Beschlussfassung über Einsprüche gegen Vorstandsentscheidungen betreffend den Erwerb oder die Beendigung von Mitgliedschaften</li>
                <li>die Beschlussfassung über die Auflösung des Vereins</li>
                <li>sonstige Rechtsgeschäfte, die der Zustimmung der Mitgliederversammlung bedürfen</li>
            </ul>
        </li>
        <li>Die Mitgliederversammlung ist beschlussfähig, wenn wenigstens drei ordentliche Mitglieder anwesend sind, die nicht dem Vorstand angehören. Die Mitgliederversammlung beschließt mit einfacher Mehrheit der abgegebenen gültigen Stimmen. Stimmenthaltungen gelten als ungültige Stimmen.</li>
        <li>Auf Antrag von mindestens zwei ordentlichen Mitgliedern, auf Antrag des Beirats oder des Vorstands werden Abstimmungen der Mitgliederversammlung als geheime Abstimmung durchgeführt.</li>
        <li>In der Mitgliederversammlung hat jedes ordentliche, fördernde und Ehrenmitglied eine Stimme. Zur Ausübung des Stimmrechtes kann ein anderes Mitglied schriftlich bevollmächtigt werden. Die Bevollmächtigung ist für jede Mitgliederversammlung gesondert zu erteilen. Ein Mitglied darf jedoch nicht mehr als fünf fremde Stimmen vertreten. Die Vertretung bezieht sich auf alle Tagesordnungspunkte der Mitgliederversammlung.</li>
        <li>Auf Antrag der einfachen Mehrheit der Vorstandsmitglieder, der einfachen Mehrheit der Mitglieder des Beirates oder eines Viertels der Mitglieder ist eine außerordentliche Mitgliederversammlung einzuberufen. </li>
        <li>Für Satzungsänderungen ist eine Mehrheit von drei Vierteln der abgegebenen gültigen Stimmen der Mitgliederversammlung notwendig. Stimmenthaltungen gelten als ungültige Stimmen. Zur Satzungsänderung muss ein schriftlicher Antrag vorliegen, der in der Tagesordnung der Mitgliederversammlung aufgeführt ist.</li>
        <li>Die Beschlüsse der Mitgliederversammlung werden schriftlich in einem Protokoll festgehalten. Das Protokoll ist vom Protokollführer und vom Versammlungsleiter zu unterzeichnen. Protokollführer und Versammlungsleiter werden zu Beginn der Mitgliederversammlung vom Vorstand vorgeschlagen und durch einfache Mehrheit per Abstimmung gewählt.</li>
    </ol>

    <h2>§9 Beirat</h2>

    <ol type="I">
        <li>Die Mitglieder des Beirates werden auf Vorschlag des Vorstandes oder der Mitgliederversammlung von der Mitgliederversammlung für die Dauer von zwei Jahren in Einzelwahl gewählt. Gewählt ist, wer die einfache Mehrheit der abgegebenen gültigen Stimmen der Mitgliederversammlung erhalten hat. Stimmenthaltungen gelten als ungültige Stimmen. Wiederwahl ist zulässig.</li>
        <li>Der Beirat setzt sich aus bis zu sieben Mitgliedern zusammen.</li>
        <li>Der Beirat hat die Aufgabe, den Vorstand bei seiner Arbeit zu unterstützen und zu beraten. Der Beirat ist befugt, mit einfacher Mehrheit seiner Mitglieder eine außerordentliche Mitgliederversammlung einzuberufen und die Tagesordnung festzulegen.</li>
        <li>Der Beirat besitzt ein Vorschlagsrecht für die Ernennung von Ehrenmitgliedern.</li>
    </ol>

    <h2>§10 Vorstand</h2>

    <ol type="I">
        <li>Der Vorstand besteht aus   
            <ul type="square">
                <li>dem/ der Vorsitzenden</li>
                <li>dem/ der stellvertretenden Vorsitzenden</li>
                <li>dem/ der Geschäftsführer(in)</li>
                <li>dem/ der Schriftführer(in)</li>
            </ul>
        </li>
        <li>Der Vorstand im Sinne des §26 BGB vertritt den Verein gerichtlich und außergerichtlich. Jeweils zwei Mitglieder des Vorstandes sind gemeinsam zur Vertretung des Vereins berechtigt. Im Innenverhältnis bedarf es zu Rechtsgeschäften, die den Verein im Einzelfall mit mehr als 1000,- Euro belasten, der Zustimmung aller Vorstandsmitglieder.</li>
        <li>Vorstandsmitglieder werden auf Vorschlag des amtierenden Vorstandes oder der Mitgliederversammlung für die Dauer von zwei Jahren in Einzelwahl gewählt. Der alte Vorstand bleibt jedoch bis zur Neuwahl des Vorstandes im Amt. Gewählt ist, wer die einfache Mehrheit der abgegebenen gültigen Stimmen der Mitgliederversammlung erhalten hat. Stimmenthaltungen gelten als ungültige Stimmen. Wiederwahl ist zulässig.</li>
        <li>Zu Vorstandsmitgliedern können nur ordentliche und Ehrenmitglieder des Vereins gewählt werden. Mit Beendigung der Mitgliedschaft im Verein endet auch das Amt des Vorstandes. Nachwahlen für den offenen Vorstandsplatz werden in der nächsten ordentlichen – oder auf Antrag in der nächsten außerordentlichen – Mitgliederversammlung durchgeführt.</li>
        <li>Der Vorstand führt ehrenamtlich die Geschäfte des Vereins und verwaltet das Vereinsvermögen. Ihm obliegt die Durchführung der Beschlüsse der Mitgliederversammlung.</li>
        <li>Der Vorstand ist beschlussfähig, wenn mindestens drei von insgesamt vier gewählten Vorstandsmitgliedern anwesend sind. Bei Beschlussfassung entscheidet die einfache Mehrheit der abgegebenen gültigen Stimmen. Stimmenthaltungen gelten als ungültige Stimmen.</li>
        <li>Der Vorstand kann zur Unterstützung seiner Arbeit einzelne Aufgaben sachkundigen Mitgliedern übertragen.</li>
        <li>Scheidet ein Mitglied des Vorstandes während der Amtsperiode aus, so wählt der Vorstand ein Ersatzmitglied (aus den Reihen der Vereinsmitglieder) für die restliche Amtsdauer des Ausgeschiedenen.</li>
    </ol>

    <h2>§11 Auflösung des Vereins</h2>

    Der Verein kann durch Beschluss der Mitgliederversammlung unter folgenden Voraussetzungen aufgelöst werden:

    <ol type="I">
        <li>Der Antrag auf Auflösung muss durch mindestens die Hälfte aller Mitglieder gestellt werden. Der Auflösungsantrag muss in schriftlicher Form als ausdrücklicher Tagesordnungspunkt mindestens vier Wochen vor der Mitgliederversammlung vorliegen.</li>
        <li>Der Beschluss der Mitgliederversammlung muss mit einer Mehrheit von mindestens drei Viertel der abgegebenen gültigen Stimmen gefasst werden. Stimmenthaltungen gelten als ungültige Stimmen.</li>
        <li>Bei Auflösung des Vereins oder bei Wegfall des steuerbegünstigten Zwecks oder seiner Rechtsfähigkeit wird eine Liquidation des Vereinsvermögens durchgeführt und übrig gebliebene Überschüsse fallen an denjenigen Lehrstuhl der Otto-von-Guericke Universität Magdeburg, welcher den Studiengang Systemtechnik und Technische Kybernetik betreut. Dieser hat das Vermögen unmittelbar und ausschließlich für Lehrzwecke und -mittel einzusetzen.</li>
    </ol>

    <h2>§ 12 Inkrafttreten</h2>

    Diese Satzung tritt am Tage ihrer Beschlussfassung in Kraft.

{% endblock %}
