{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title job.title %}

{% block content %}

    <h1>{{ job.title }}</h1>

    <p>Dieses Angebot ist gelistet bis {{ job.expiresAt|date('d.m.Y') }}</p>
    <h2>Beschreibung</h2>
    <p>
        {{ job.description|raw }}
    </p>

{% endblock %}