/**
 * Layout
 */
#container {
  margin: auto;
  width: 960px;
  position: relative;
}
#left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 125px;
}
#nav {
  position: absolute;
  top: 0px;
  left: 145px;
  width: 815px;
  height: 40px;
}
#content {
  position: absolute;
  top: 50px;
  left: 145px;
  width: 815px;
}
/**
 * Design
 */
* {
  font-family: 'Cantarell', sans-serif;
}
a img {
  border-width: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
#left {
  font-size: 14px;
  text-align: center;
}
#left a {
  color: #002d80;
  text-decoration: none;
}
#nav {
  background-color: #002d80;
  border-radius: 5px 5px 5px 5px;
}
#nav > ul {
  list-style: none inside;
  padding: 0px;
  display: inline;
  padding-left: 5px;
}
#nav > ul > li {
  display: inline;
  line-height: 40px;
  margin-left: 10px;
  position: relative;
  color: #495c80;
}
#nav > ul > li.right {
  float: right;
  padding-right: 15px;
}
#nav > ul > li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
#nav > ul > li a:hover {
  text-decoration: underline;
}
#nav > ul > li ul {
  display: none;
  position: absolute;
  background-color: #002d80;
  border-radius: 0px 0px 5px 5px;
  list-style: none inside;
  padding: 0px;
  z-index: 2;
  width: inherit;
  left: -10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  line-height: 18px;
  font-size: 12px;
}
#nav > ul > li ul li {
  white-space: nowrap;
  border-left: #495c80 3px solid;
  margin: 0px;
  padding-left: 10px;
}
#content {
  font-size: 16px;
}
#content em {
  font-style: normal;
  font-weight: bold;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  color: #002d80;
}
#content h1 {
  font-size: 28px;
}
#content h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
#content p,
#content table,
#content div.p {
  background-color: #f0f0f0;
  border: 1px solid #e6e6e6;
  border-radius: 5px 5px 5px 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
#content div.p p {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}
#content table {
  border-spacing: 0px;
}
#content table tr {
  padding: 0px;
  margin: 0px;
}
#content table td {
  font-size: 14px;
  padding: 3px;
  margin: 0px;
  padding-right: 20px;
}
#content table th {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  padding-right: 20px;
  border-bottom: 2px solid #d2d2d2;
}
#content table tr:nth-child(2n+1) td {
  background-color: #fafafa;
}
#content a {
  color: #002d80;
  text-decoration: none;
}
#content a:hover {
  text-decoration: underline;
}
#content p.date {
  font-size: 12px;
  font-weight: bold;
}
