{% extends 'MdkybWebsiteBundle:Admin:layout.html.twig' %}

{% block content %}

    <a href="{{ url('index') }}">Startseite</a> |
    <a href="{{ url('admin_index') }}">Administration</a> &gt;
    <a href="{{ url('admin_list', {name:object_name}) }}">{{ object_name }}</a>
    <hr />

    <form action="" method="post">
        Objekt wirklich löschen?

        <input type="submit" />
    </form>

{% endblock %}