{% extends 'MdkybWebsiteBundle:Admin:layout.html.twig' %}

{% form_theme form 'MdkybWebsiteBundle:Admin:fields_no_preview.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Administration</a> <span class="divider">/</span></li>
        <li class="active">E-Mails versenden</li>
    </ul>

    <div class="page-header">
        <h1>E-Mails verschicken</h1>
    </div>

    <form class="form-horizontal" action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="E-Mail an alle Mitglieder versenden" />
        </div>
    </form>

{% endblock %}