{% extends 'MdkybWebsiteBundle:Admin:layout.html.twig' %}

{% block content %}

<ul class="breadcrumb">
    <li class="active">Administration</li>
</ul>

<ul class="nav nav-tabs nav-stacked">
    {% for name, config in objects %}
        <li><a href="{{ url('admin_list', {name:name}) }}">{{ config.description }}</a></li>
    {% endfor %}
    <li><a href="{{ url('admin_email') }}">E-Mails versenden</a> </li>
</ul>

{% endblock %}