{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title 'Gallerie' %}

{% block content %}

    <h1>Gallerie</h1>

    {% for gallery in galleries %}
    <h2>{{ gallery.title }}</h2>
        {% for image in gallery.images %}
            <a href="{{ asset('uploads/' ~ image.filename) }}"><img src="{{ asset('uploads/' ~ image.thumbname) }}" title="{{ image.title }}" alt="" /></a>
        {% endfor %}
    {% endfor %}

{% endblock %}